<style>
div.got {
  background-color: #aaffaa;
}
div.not {
  background-color: #ffaaaa;
}
</style>
<div class="container">
 <div class="row">
  <div class="panel panel-info">
   <div class="panel-heading">
    <h3>All Users Fossil Report</h3>
   </div>
   <div class="panel-body">
    <% users.each do |u| %>
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
              <% if u.alias.eql?('0') %>
                <h1 class="panel-title">User <%=u.username%>'s Fossil Report</h1>
              <% else %>
                <h1 class="panel-title"><%=u.alias%>'s Fossil Report</h1>
              <% end %>
            </div>
            <div class="panel-body" id="metadata" style="display: block;">
              <div class="row">
              <% counter = 0 %>
              <% fossils.each do |fossil| %>
                <% if u.owned[fossil.id].eql?("1") %>
                  <% x = "got" %>
                <% else %>
                  <% x = "not" %>
                <% end %>
                <div class="col-md-2 <%=x%>">
                  <%=fossil.name%>
                  <% if !u.extra[fossil.id].eql?("0") %>
                    <b>(<%=u.extra[fossil.id]%>)</b>
                  <% end %>
                </div>
                <% counter += 1 %>
                <% if counter.eql?(6) %>
                  <% counter = 0 %>
                  </div><div class="row">
                <% end %>
              <% end %>
            </div>
        </div>
    </div>
    <% end %>
   </div>
  </div>
 </div>
</div>
