<style>
div.got {
  background-color: #aaffaa;
}
div.not {
  background-color: #ffaaaa;
}
</style>
<div class="container">
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
              <% if user.alias.eql?('0') %>
                <h1 class="panel-title">User <%=user.username%>'s Fossil Report</h1>
              <% else %>
                <h1 class="panel-title"><%=user.alias%>'s Fossil Report</h1>
              <% end %>
            </div>
            <div class="panel-body" id="metadata" style="display: block;">
              <div class="row">
              <% counter = 0 %>
              <% fossils.each do |fossil| %>
                <% if user.owned[fossil.id].eql?("1") %>
                  <% x = "got" %>
                <% else %>
                  <% x = "not" %>
                <% end %>
                <div class="col-md-2 <%=x%>">
                  <%=fossil.name%>
                  <% if !user.extra[fossil.id].eql?("0") %>
                    <b>(<%=user.extra[fossil.id]%>)</b>
                  <% end %>
                </div>
                <% counter += 1 %>
                <% if counter.eql?(6) %>
                  <% counter = 0 %>
                  </div><div class="row">
                <% end %>
              <% end %>
            </div>
        </div>
    </div>
</div>
